In [1]:
#!pip install arbitragelab
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\jakia\anaconda3\lib\site-packages (0.2.44)
Requirement already satisfied: pandas>=1.3.0 in c:\users\jakia\anaconda3\lib\site-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in c:\users\jakia\anaconda3\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in c:\users\jakia\anaconda3\lib\site-packages (from yfinance) (2.32.2)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\jakia\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\jakia\anaconda3\lib\site-packages (from yfinance) (5.2.1)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\jakia\anaconda3\lib\site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in c:\users\jakia\anaconda3\lib\site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\jakia\anaconda3\lib\site-packages (from yfinance) (2.4.2)
Requirement already satisfied: peewee>=3.16.2 in c:\users\jakia\anaconda3\lib\site-packages (from yfinance) (3.17.6)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\jakia\anaconda3\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in c:\users\jakia\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\jakia\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in c:\users\jakia\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\jakia\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jakia\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jakia\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\jakia\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jakia\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\jakia\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jakia\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2024.6.2)

In [2]:
#import arbitragelab as al
import numpy as np
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt
import statsmodels.tsa.stattools as ts

In [4]:
# Get industry data from Wikipedia 
table = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
stock_table = table[0]
stock_table

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,1524472,2011
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [20]:
# Indutry groups to use are below
industry_group = ['Information Technology','Industrials','Financials','Health Care']

#Datarame with these industry group
ticker_industry = stock_table[stock_table['GICS Sector'].isin(industry_group)].reset_index(drop=True)
ticker_industry

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
276,WTW,Willis Towers Watson,Financials,Insurance Brokers,"London, United Kingdom",2016-01-05,1140536,2016
277,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,1524472,2011
278,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
279,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
280,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [26]:
# Dataframe to only contain symbol and sector
ticker_industry = ticker_industry[['Symbol', 'GICS Sector']]
ticker_industry

    Symbol             GICS Sector
0      MMM             Industrials
1      AOS             Industrials
2      ABT             Health Care
3     ABBV             Health Care
4      ACN  Information Technology
..     ...                     ...
276    WTW              Financials
277    XYL             Industrials
278   ZBRA  Information Technology
279    ZBH             Health Care
280    ZTS             Health Care

[281 rows x 2 columns]

In [27]:
# Get tickers to use as a list
tickers = ticker_industry['Symbol'].to_list()
tickers

['MMM',
 'AOS',
 'ABT',
 'ABBV',
 'ACN',
 'ADBE',
 'AMD',
 'AFL',
 'A',
 'AKAM',
 'ALGN',
 'ALLE',
 'ALL',
 'AMTM',
 'AXP',
 'AIG',
 'AMP',
 'AME',
 'AMGN',
 'APH',
 'ADI',
 'ANSS',
 'AON',
 'AAPL',
 'AMAT',
 'ACGL',
 'ANET',
 'AJG',
 'AIZ',
 'ADSK',
 'ADP',
 'AXON',
 'BAC',
 'BAX',
 'BDX',
 'BRK.B',
 'TECH',
 'BIIB',
 'BLK',
 'BX',
 'BK',
 'BA',
 'BSX',
 'BMY',
 'AVGO',
 'BR',
 'BRO',
 'BLDR',
 'CHRW',
 'CDNS',
 'COF',
 'CAH',
 'CARR',
 'CTLT',
 'CAT',
 'CBOE',
 'CDW',
 'COR',
 'CNC',
 'CRL',
 'SCHW',
 'CB',
 'CI',
 'CINF',
 'CTAS',
 'CSCO',
 'C',
 'CFG',
 'CME',
 'CTSH',
 'COO',
 'CPRT',
 'GLW',
 'CPAY',
 'CRWD',
 'CSX',
 'CMI',
 'CVS',
 'DHR',
 'DVA',
 'DAY',
 'DE',
 'DELL',
 'DAL',
 'DXCM',
 'DFS',
 'DOV',
 'ETN',
 'EW',
 'ELV',
 'EMR',
 'ENPH',
 'EPAM',
 'EFX',
 'ERIE',
 'EG',
 'EXPD',
 'FFIV',
 'FDS',
 'FICO',
 'FAST',
 'FDX',
 'FIS',
 'FITB',
 'FSLR',
 'FI',
 'FTNT',
 'FTV',
 'BEN',
 'IT',
 'GE',
 'GEHC',
 'GEV',
 'GEN',
 'GNRC',
 'GD',
 'GILD',
 'GPN',
 'GL',
 'GDDY',
 'GS',
 'HIG',
 'HCA',
 'HSIC',
 'HPE',
 'HOLX',
 'HON',
 'HWM',
 'HPQ',
 'HUBB',
 'HUM',
 'HBAN',
 'HII',
 'IBM',
 'IEX',
 'IDXX',
 'ITW',
 'INCY',
 'IR',
 'PODD',
 'INTC',
 'ICE',
 'INTU',
 'ISRG',
 'IVZ',
 'IQV',
 'JBHT',
 'JBL',
 'JKHY',
 'J',
 'JNJ',
 'JCI',
 'JPM',
 'JNPR',
 'KEY',
 'KEYS',
 'KKR',
 'KLAC',
 'LHX',
 'LH',
 'LRCX',
 'LDOS',
 'LLY',
 'LMT',
 'L',
 'MTB',
 'MKTX',
 'MMC',
 'MAS',
 'MA',
 'MCK',
 'MDT',
 'MRK',
 'MET',
 'MTD',
 'MCHP',
 'MU',
 'MSFT',
 'MRNA',
 'MOH',
 'MPWR',
 'MCO',
 'MS',
 'MSI',
 'MSCI',
 'NDAQ',
 'NTAP',
 'NDSN',
 'NSC',
 'NTRS',
 'NOC',
 'NVDA',
 'NXPI',
 'ODFL',
 'ON',
 'ORCL',
 'OTIS',
 'PCAR',
 'PLTR',
 'PANW',
 'PH',
 'PAYX',
 'PAYC',
 'PYPL',
 'PNR',
 'PFE',
 'PNC',
 'PFG',
 'PGR',
 'PRU',
 'PTC',
 'QRVO',
 'PWR',
 'QCOM',
 'DGX',
 'RJF',
 'RTX',
 'REGN',
 'RF',
 'RSG',
 'RMD',
 'RVTY',
 'ROK',
 'ROL',
 'ROP',
 'SPGI',
 'CRM',
 'STX',
 'NOW',
 'SWKS',
 'SNA',
 'SOLV',
 'LUV',
 'SWK',
 'STT',
 'STE',
 'SYK',
 'SMCI',
 'SYF',
 'SNPS',
 'TROW',
 'TEL',
 'TDY',
 'TFX',
 'TER',
 'TXN',
 'TXT',
 'TMO',
 'TT',
 'TDG',
 'TRV',
 'TRMB',
 'TFC',
 'TYL',
 'USB',
 'UBER',
 'UNP',
 'UAL',
 'UPS',
 'URI',
 'UNH',
 'UHS',
 'VLTO',
 'VRSN',
 'VRSK',
 'VRTX',
 'VTRS',
 'V',
 'WRB',
 'GWW',
 'WAB',
 'WM',
 'WAT',
 'WFC',
 'WST',
 'WDC',
 'WTW',
 'XYL',
 'ZBRA',
 'ZBH',
 'ZTS']

In [36]:
# Removing some tickers
tickers = ticker_industry['Symbol'].to_list()
#remove_tickers = ['CARR','ABC','BRK.B','VNT','OTIS'] # Removed tickers
remove_tickers = ['AMTM', 'GEV', 'VLTO', 'SOLV', 'GEHC', 'BRK.B', 'NVDA'] # Removed tickers
tickers = [ticker for ticker in tickers if ticker not in remove_tickers]

In [29]:
# Get a dictionary of industry group
industry_dict = pd.Series(ticker_industry['GICS Sector'].values,index=ticker_industry['Symbol']).to_dict()
industry_dict

{'MMM': 'Industrials',
 'AOS': 'Industrials',
 'ABT': 'Health Care',
 'ABBV': 'Health Care',
 'ACN': 'Information Technology',
 'ADBE': 'Information Technology',
 'AMD': 'Information Technology',
 'AFL': 'Financials',
 'A': 'Health Care',
 'AKAM': 'Information Technology',
 'ALGN': 'Health Care',
 'ALLE': 'Industrials',
 'ALL': 'Financials',
 'AMTM': 'Industrials',
 'AXP': 'Financials',
 'AIG': 'Financials',
 'AMP': 'Financials',
 'AME': 'Industrials',
 'AMGN': 'Health Care',
 'APH': 'Information Technology',
 'ADI': 'Information Technology',
 'ANSS': 'Information Technology',
 'AON': 'Financials',
 'AAPL': 'Information Technology',
 'AMAT': 'Information Technology',
 'ACGL': 'Financials',
 'ANET': 'Information Technology',
 'AJG': 'Financials',
 'AIZ': 'Financials',
 'ADSK': 'Information Technology',
 'ADP': 'Industrials',
 'AXON': 'Industrials',
 'BAC': 'Financials',
 'BAX': 'Health Care',
 'BDX': 'Health Care',
 'BRK.B': 'Financials',
 'TECH': 'Health Care',
 'BIIB': 'Health Care',
 'BLK': 'Financials',
 'BX': 'Financials',
 'BK': 'Financials',
 'BA': 'Industrials',
 'BSX': 'Health Care',
 'BMY': 'Health Care',
 'AVGO': 'Information Technology',
 'BR': 'Industrials',
 'BRO': 'Financials',
 'BLDR': 'Industrials',
 'CHRW': 'Industrials',
 'CDNS': 'Information Technology',
 'COF': 'Financials',
 'CAH': 'Health Care',
 'CARR': 'Industrials',
 'CTLT': 'Health Care',
 'CAT': 'Industrials',
 'CBOE': 'Financials',
 'CDW': 'Information Technology',
 'COR': 'Health Care',
 'CNC': 'Health Care',
 'CRL': 'Health Care',
 'SCHW': 'Financials',
 'CB': 'Financials',
 'CI': 'Health Care',
 'CINF': 'Financials',
 'CTAS': 'Industrials',
 'CSCO': 'Information Technology',
 'C': 'Financials',
 'CFG': 'Financials',
 'CME': 'Financials',
 'CTSH': 'Information Technology',
 'COO': 'Health Care',
 'CPRT': 'Industrials',
 'GLW': 'Information Technology',
 'CPAY': 'Financials',
 'CRWD': 'Information Technology',
 'CSX': 'Industrials',
 'CMI': 'Industrials',
 'CVS': 'Health Care',
 'DHR': 'Health Care',
 'DVA': 'Health Care',
 'DAY': 'Industrials',
 'DE': 'Industrials',
 'DELL': 'Information Technology',
 'DAL': 'Industrials',
 'DXCM': 'Health Care',
 'DFS': 'Financials',
 'DOV': 'Industrials',
 'ETN': 'Industrials',
 'EW': 'Health Care',
 'ELV': 'Health Care',
 'EMR': 'Industrials',
 'ENPH': 'Information Technology',
 'EPAM': 'Information Technology',
 'EFX': 'Industrials',
 'ERIE': 'Financials',
 'EG': 'Financials',
 'EXPD': 'Industrials',
 'FFIV': 'Information Technology',
 'FDS': 'Financials',
 'FICO': 'Information Technology',
 'FAST': 'Industrials',
 'FDX': 'Industrials',
 'FIS': 'Financials',
 'FITB': 'Financials',
 'FSLR': 'Information Technology',
 'FI': 'Financials',
 'FTNT': 'Information Technology',
 'FTV': 'Industrials',
 'BEN': 'Financials',
 'IT': 'Information Technology',
 'GE': 'Industrials',
 'GEHC': 'Health Care',
 'GEV': 'Industrials',
 'GEN': 'Information Technology',
 'GNRC': 'Industrials',
 'GD': 'Industrials',
 'GILD': 'Health Care',
 'GPN': 'Financials',
 'GL': 'Financials',
 'GDDY': 'Information Technology',
 'GS': 'Financials',
 'HIG': 'Financials',
 'HCA': 'Health Care',
 'HSIC': 'Health Care',
 'HPE': 'Information Technology',
 'HOLX': 'Health Care',
 'HON': 'Industrials',
 'HWM': 'Industrials',
 'HPQ': 'Information Technology',
 'HUBB': 'Industrials',
 'HUM': 'Health Care',
 'HBAN': 'Financials',
 'HII': 'Industrials',
 'IBM': 'Information Technology',
 'IEX': 'Industrials',
 'IDXX': 'Health Care',
 'ITW': 'Industrials',
 'INCY': 'Health Care',
 'IR': 'Industrials',
 'PODD': 'Health Care',
 'INTC': 'Information Technology',
 'ICE': 'Financials',
 'INTU': 'Information Technology',
 'ISRG': 'Health Care',
 'IVZ': 'Financials',
 'IQV': 'Health Care',
 'JBHT': 'Industrials',
 'JBL': 'Information Technology',
 'JKHY': 'Financials',
 'J': 'Industrials',
 'JNJ': 'Health Care',
 'JCI': 'Industrials',
 'JPM': 'Financials',
 'JNPR': 'Information Technology',
 'KEY': 'Financials',
 'KEYS': 'Information Technology',
 'KKR': 'Financials',
 'KLAC': 'Information Technology',
 'LHX': 'Industrials',
 'LH': 'Health Care',
 'LRCX': 'Information Technology',
 'LDOS': 'Industrials',
 'LLY': 'Health Care',
 'LMT': 'Industrials',
 'L': 'Financials',
 'MTB': 'Financials',
 'MKTX': 'Financials',
 'MMC': 'Financials',
 'MAS': 'Industrials',
 'MA': 'Financials',
 'MCK': 'Health Care',
 'MDT': 'Health Care',
 'MRK': 'Health Care',
 'MET': 'Financials',
 'MTD': 'Health Care',
 'MCHP': 'Information Technology',
 'MU': 'Information Technology',
 'MSFT': 'Information Technology',
 'MRNA': 'Health Care',
 'MOH': 'Health Care',
 'MPWR': 'Information Technology',
 'MCO': 'Financials',
 'MS': 'Financials',
 'MSI': 'Information Technology',
 'MSCI': 'Financials',
 'NDAQ': 'Financials',
 'NTAP': 'Information Technology',
 'NDSN': 'Industrials',
 'NSC': 'Industrials',
 'NTRS': 'Financials',
 'NOC': 'Industrials',
 'NVDA': 'Information Technology',
 'NXPI': 'Information Technology',
 'ODFL': 'Industrials',
 'ON': 'Information Technology',
 'ORCL': 'Information Technology',
 'OTIS': 'Industrials',
 'PCAR': 'Industrials',
 'PLTR': 'Information Technology',
 'PANW': 'Information Technology',
 'PH': 'Industrials',
 'PAYX': 'Industrials',
 'PAYC': 'Industrials',
 'PYPL': 'Financials',
 'PNR': 'Industrials',
 'PFE': 'Health Care',
 'PNC': 'Financials',
 'PFG': 'Financials',
 'PGR': 'Financials',
 'PRU': 'Financials',
 'PTC': 'Information Technology',
 'QRVO': 'Information Technology',
 'PWR': 'Industrials',
 'QCOM': 'Information Technology',
 'DGX': 'Health Care',
 'RJF': 'Financials',
 'RTX': 'Industrials',
 'REGN': 'Health Care',
 'RF': 'Financials',
 'RSG': 'Industrials',
 'RMD': 'Health Care',
 'RVTY': 'Health Care',
 'ROK': 'Industrials',
 'ROL': 'Industrials',
 'ROP': 'Information Technology',
 'SPGI': 'Financials',
 'CRM': 'Information Technology',
 'STX': 'Information Technology',
 'NOW': 'Information Technology',
 'SWKS': 'Information Technology',
 'SNA': 'Industrials',
 'SOLV': 'Health Care',
 'LUV': 'Industrials',
 'SWK': 'Industrials',
 'STT': 'Financials',
 'STE': 'Health Care',
 'SYK': 'Health Care',
 'SMCI': 'Information Technology',
 'SYF': 'Financials',
 'SNPS': 'Information Technology',
 'TROW': 'Financials',
 'TEL': 'Information Technology',
 'TDY': 'Information Technology',
 'TFX': 'Health Care',
 'TER': 'Information Technology',
 'TXN': 'Information Technology',
 'TXT': 'Industrials',
 'TMO': 'Health Care',
 'TT': 'Industrials',
 'TDG': 'Industrials',
 'TRV': 'Financials',
 'TRMB': 'Information Technology',
 'TFC': 'Financials',
 'TYL': 'Information Technology',
 'USB': 'Financials',
 'UBER': 'Industrials',
 'UNP': 'Industrials',
 'UAL': 'Industrials',
 'UPS': 'Industrials',
 'URI': 'Industrials',
 'UNH': 'Health Care',
 'UHS': 'Health Care',
 'VLTO': 'Industrials',
 'VRSN': 'Information Technology',
 'VRSK': 'Industrials',
 'VRTX': 'Health Care',
 'VTRS': 'Health Care',
 'V': 'Financials',
 'WRB': 'Financials',
 'GWW': 'Industrials',
 'WAB': 'Industrials',
 'WM': 'Industrials',
 'WAT': 'Health Care',
 'WFC': 'Financials',
 'WST': 'Health Care',
 'WDC': 'Information Technology',
 'WTW': 'Financials',
 'XYL': 'Industrials',
 'ZBRA': 'Information Technology',
 'ZBH': 'Health Care',
 'ZTS': 'Health Care'}

In [46]:
# Loading data
train_data =  yf.download(tickers, start="2021-01-01", end="2022-01-01")
test_data =  yf.download(tickers, start="2022-01-02", end="2022-07-01")

[*********************100%***********************]  274 of 274 completed
[*********************100%***********************]  274 of 274 completed

In [47]:
# Removing rows with null data
train_data.dropna()
test_data.dropna()

Price                       Adj Close                                      \
Ticker                              A        AAPL        ABBV         ABT
Date
2022-01-03 00:00:00+00:00  153.555557  179.273621  121.827736  132.059875
2022-01-04 00:00:00+00:00  148.364441  176.998337  121.593811  128.954041
2022-01-05 00:00:00+00:00  145.822861  172.290192  122.232552  128.374664
2022-01-06 00:00:00+00:00  146.333130  169.414108  121.656799  128.355606
2022-01-07 00:00:00+00:00  142.437347  169.581558  121.341934  128.754547
...                               ...         ...         ...         ...
2022-06-24 00:00:00+00:00  119.210106  139.913284  139.648422  104.737823
2022-06-27 00:00:00+00:00  118.502449  139.913284  140.381805  104.383766
2022-06-28 00:00:00+00:00  115.052643  135.745331  139.785965  102.364586
2022-06-29 00:00:00+00:00  115.878242  137.513229  141.298492  104.402901
2022-06-30 00:00:00+00:00  116.733307  135.034195  140.400116  103.972275

Price                                                                     \
Ticker                          ACGL         ACN        ADBE         ADI
Date
2022-01-03 00:00:00+00:00  44.549999  390.774384  564.369995  168.473740
2022-01-04 00:00:00+00:00  45.130001  387.981842  554.000000  166.952103
2022-01-05 00:00:00+00:00  44.599998  381.149261  514.429993  164.374802
2022-01-06 00:00:00+00:00  44.860001  362.743347  514.119995  164.897888
2022-01-07 00:00:00+00:00  45.070000  355.785980  510.700012  160.570724
...                              ...         ...         ...         ...
2022-06-24 00:00:00+00:00  44.860001  288.889465  387.720001  143.719391
2022-06-27 00:00:00+00:00  44.970001  282.375763  381.070007  144.583496
2022-06-28 00:00:00+00:00  44.730000  273.864532  365.630005  142.567261
2022-06-29 00:00:00+00:00  44.630001  270.014191  368.500000  141.395905
2022-06-30 00:00:00+00:00  45.490002  267.929840  366.059998  140.263000

Price                                              ...   Volume            \
Ticker                            ADP        ADSK  ...      WDC       WFC
Date                                               ...
2022-01-03 00:00:00+00:00  230.287933  283.720001  ...  2947100  38978100
2022-01-04 00:00:00+00:00  231.363800  278.190002  ...  3753000  43855100
2022-01-05 00:00:00+00:00  229.391342  264.320007  ...  5915900  35072600
2022-01-06 00:00:00+00:00  227.815262  264.109985  ...  7513300  29720800
2022-01-07 00:00:00+00:00  225.408661  262.320007  ...  3841400  35149300
...                               ...         ...  ...      ...       ...
2022-06-24 00:00:00+00:00  208.501007  192.479996  ...  2863200  39407700
2022-06-27 00:00:00+00:00  208.043594  185.869995  ...  4216200  16996800
2022-06-28 00:00:00+00:00  203.993454  176.809998  ...  2055800  18136600
2022-06-29 00:00:00+00:00  202.211411  176.850006  ...  2594500  15778700
2022-06-30 00:00:00+00:00  200.162537  171.960007  ...  4165300  20425700

Price                                                                  \
Ticker                          WM      WRB     WST      WTW      XYL
Date
2022-01-03 00:00:00+00:00  2704000  1019475  397600   848600   759100
2022-01-04 00:00:00+00:00  2111400  1543275  525800   952100   925400
2022-01-05 00:00:00+00:00  1761300  1271925  530100  1070500  1090200
2022-01-06 00:00:00+00:00  1171700  1236825  519700  1128100   703400
2022-01-07 00:00:00+00:00  1560300  1299375  513900  1233500   765000
...                            ...      ...     ...      ...      ...
2022-06-24 00:00:00+00:00  4927000  3553800  486400  1593700  2671000
2022-06-27 00:00:00+00:00  1096000  1948500  258100   714200   853200
2022-06-28 00:00:00+00:00  1153800  1898400  366800   756600   788400
2022-06-29 00:00:00+00:00  1282000  1932300  364800   488900   765800
2022-06-30 00:00:00+00:00  1841300  2189100  553800   524400  1027300

Price
Ticker                         ZBH     ZBRA      ZTS
Date
2022-01-03 00:00:00+00:00  1184809   272600  2772700
2022-01-04 00:00:00+00:00  1400800   346000  4664000
2022-01-05 00:00:00+00:00  1895715   403700  4749400
2022-01-06 00:00:00+00:00  1088813   338300  3103400
2022-01-07 00:00:00+00:00  1690230   432800  2206500
...                            ...      ...      ...
2022-06-24 00:00:00+00:00  1580800  1009200  3255000
2022-06-27 00:00:00+00:00   953100   335600  1378400
2022-06-28 00:00:00+00:00   846500   271100  1725800
2022-06-29 00:00:00+00:00  1240300   260000  1658000
2022-06-30 00:00:00+00:00  1466500   540500  2220700

[124 rows x 1644 columns]

In [48]:
# Taking close prices for chosen instruments
train_data = train_data["Adj Close"]
test_data = test_data["Adj Close"]

# Looking at the downloaded data
train_data.head()

Ticker,A,AAPL,ABBV,ABT,ACGL,ACN,ADBE,ADI,ADP,ADSK,...,WDC,WFC,WM,WRB,WST,WTW,XYL,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2021-01-04 00:00:00+00:00,115.796387,126.683456,90.489517,102.054955,34.900002,243.103989,485.339996,136.591339,156.485947,296.839996,...,52.230000,27.200678,108.080971,26.555656,283.155273,193.409637,95.444168,144.474701,378.130005,158.854538
2021-01-05 00:00:00+00:00,116.743141,128.249725,91.425224,103.317665,35.040001,244.487976,485.690002,139.032806,156.050644,301.700012,...,53.060001,27.960831,108.438629,26.326658,288.559235,191.795532,95.329285,146.974457,380.570007,159.961563
2021-01-06 00:00:00+00:00,119.944519,123.932640,90.635445,103.102539,36.580002,247.161102,466.309998,139.659546,155.504166,302.869995,...,53.410000,29.939058,110.838760,27.230387,291.652893,193.409637,99.350403,151.162628,394.820007,162.311523
2021-01-07 00:00:00+00:00,123.136154,128.161636,91.605499,104.103340,36.240002,249.493027,477.739990,145.562134,156.384018,315.200012,...,54.740002,30.616789,111.111717,26.993210,301.488892,194.881332,103.859810,150.266495,409.100006,162.165817
2021-01-08 00:00:00+00:00,124.014587,129.267807,92.086220,104.393295,36.439999,250.403030,485.100006,146.619141,158.421616,319.850006,...,51.820000,30.396986,111.629387,27.136333,304.929626,193.352676,102.806656,149.936325,405.470001,163.243713

In [56]:
def calculate_returns(dataframe):
    """
    Calculate the daily returns for each column in a given DataFrame. 
    Takes dataframe containting close price and returns a datafram containing the returns
    """
    returns_df = dataframe.pct_change().dropna()  # Calculate percentage change and drop any NaN values
    return returns_df

In [57]:
def scale_data(dataframe):
    """
    Scale the data for each column in a given DataFrame using min-max normalization.
    Takes a dataframe containing actual price or return price and reeturns a dataframe containing the scaled data
    """
    scaled_df = (dataframe - dataframe.min()) / (dataframe.max() - dataframe.min())
    return scaled_df

In [58]:
scaled_train_data = scale_data(calculate_returns(train_data))
scaled_test_data = scale_data(calculate_returns(test_data))
scaled_train_data

Ticker,A,AAPL,ABBV,ABT,ACGL,ACN,ADBE,ADI,ADP,ADSK,...,WDC,WFC,WM,WRB,WST,WTW,XYL,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2021-01-05 00:00:00+00:00,0.703017,0.565688,0.696245,0.720083,0.542719,0.371517,0.699158,0.689151,0.496456,0.865703,...,0.609626,0.712215,0.625918,0.451952,0.710308,0.510466,0.454728,0.751998,0.350315,0.672129
2021-01-06 00:00:00+00:00,0.939060,0.083873,0.532703,0.621395,1.000000,0.424881,0.422432,0.558013,0.488428,0.802561,...,0.555451,1.000000,0.918774,0.910436,0.641801,0.615460,0.962462,0.844306,0.566288,0.764499
2021-01-07 00:00:00+00:00,0.929088,0.793480,0.699367,0.701882,0.390368,0.409619,0.861218,0.928441,0.590527,0.988696,...,0.662143,0.676520,0.612749,0.451026,0.830226,0.610407,1.000000,0.560425,0.557399,0.578031
2021-01-08 00:00:00+00:00,0.690235,0.526614,0.652360,0.654626,0.559976,0.350687,0.799190,0.585030,0.672689,0.857516,...,0.206098,0.476056,0.646918,0.600602,0.647464,0.513607,0.350145,0.591193,0.243511,0.668278
2021-01-11 00:00:00+00:00,0.707952,0.192882,0.747719,0.588509,0.411953,0.166677,0.541744,0.611434,0.361946,0.750733,...,0.487761,0.534452,0.369806,0.545610,0.417614,0.427089,0.320593,0.611907,0.448344,0.679850
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-27 00:00:00+00:00,0.675801,0.676770,0.692605,0.748449,0.615289,0.617029,0.790634,0.673459,0.725051,0.842493,...,0.601765,0.581324,0.752165,0.702450,0.661751,0.631619,0.547499,0.678279,0.591564,0.786070
2021-12-28 00:00:00+00:00,0.636737,0.375884,0.605858,0.587831,0.585405,0.312074,0.596136,0.452841,0.517506,0.755768,...,0.587408,0.476074,0.702663,0.624035,0.536052,0.553834,0.590506,0.635122,0.201790,0.479103
2021-12-29 00:00:00+00:00,0.716003,0.441518,0.669338,0.670604,0.582137,0.317225,0.693408,0.577926,0.615334,0.779390,...,0.822153,0.528491,0.691251,0.615627,0.608959,0.555134,0.453147,0.610600,0.349681,0.724917
2021-12-30 00:00:00+00:00,0.620301,0.367394,0.643426,0.626423,0.427476,0.274571,0.709083,0.472422,0.417354,0.767583,...,0.450022,0.475754,0.513663,0.415940,0.612618,0.549298,0.443322,0.611885,0.263843,0.498219
2021-12-31 00:00:00+00:00,0.508977,0.399251,0.573543,0.623022,0.527783,0.331260,0.652814,0.569361,0.573761,0.773636,...,0.502739,0.507550,0.684264,0.656601,0.513493,0.572517,0.549389,0.530236,0.278056,0.533631